/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
/* Coustoms-fonts */
@font-face {
  font-family: "Gill Sans";
  src: url("GillSans-Bold.woff2") format("woff2"),
    url("GillSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gill Sans";
  src: url("../google-fonts/GillSans-Medium.woff2") format("woff2"),
    url("GillSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gill Sans";
  src: url("../google-fonts/GillSans.woff2") format("woff2"),
    url("GillSans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Global Css aria start */
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p {
  line-height: 3rem;
  font-size: 2rem;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
h2 {
  font-family: "Gill Sans";
  font-size: 5.2rem;
  font-weight: normal;
  line-height: 6.5rem;
}
img {
  display: block;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.t-center {
  text-align: center;
}
.section-pd {
  padding: 10rem 0;
}
.section-mr {
  margin: 10rem 0;
}
/* Global Css aria end */
/* Header-aria start */
.header-section {
  background: url(../images/baner/baner-bg.png) no-repeat scroll 0 0 / cover;
  height: 100%;
  width: 100%;
  padding: 4rem 0 0 0;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-aria {
  width: 16.7rem;
  height: 100%;
}
.logo-aria img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.res-logo {
  display: none;
}
.menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu ul li a {
  margin-right: 2.2rem;
  font-size: 1.8rem;
  display: inline-block;
  color: #fff;
  transition: 0.5s;
}
.menu ul li a:hover {
  color: #f0b000;
}

.menu-aria {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu-aria .btn {
  padding: 1rem 4rem;
  border: 0.1px solid transparent;
  background: #f0b000;
  border-radius: 1rem;
  color: #004885;
  font-weight: 600;
  transition: 0.5s;
  display: inline-block;
  transition: 0.5s;
}
.menu-aria .btn:hover {
  background: #fff;
  color: #004885;
  border: 0.1px solid #fff;
  transition: 0.2s;
}
.nav-ber {
  font-size: 3rem;
  color: #fff;
  display: none;
  border: 1px solid #f0b000;
  padding: 0.8rem 2rem;
  border-radius: 1rem;
  transition: 0.5s;
}
.nav-ber:hover {
  background: #f0b000;
  color: #004885;
}
/* Header-aria end */
/* Baner section aria start  */
.baner-content {
  position: relative;
}
.baner-shape {
  position: absolute;
  left: 10rem;
  bottom: 0;
}
.baner-logo {
  width: 320px;
  height: auto;
  margin: auto;
  padding-top: 10rem;
}
.baner-logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.baner-hedding h1 {
  font-family: "Gill Sans";
  font-size: 6.4rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  padding: 5.5rem 0 7rem 0;
  max-width: 75rem;
  margin: 0 auto;
}
.baner-text p {
  font-size: 2.4rem;
  color: #fff;
  text-align: center;
  max-width: 745px;
  width: 100%;
  margin: 0 auto;
  line-height: 4rem;
  padding-bottom: 4rem;
}
.res-text-baner {
  display: none;
}
.banner_btn a {
  display: inline-block;
  background-color: #f0b000;
  padding: 20px 50px;
  color: #004885;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
  border: 0.1px solid transparent;
}
.banner_btn a:hover {
  background: #0d4885;
  color: #fff;
  border: 0.1px solid #fff;
}
.arwo-icon a {
  color: #fff;
  padding: 8rem 0 2rem 0;
  display: inline-block;
}
/* Baner section aria end */
/* Service aria start */
.service-section {
  padding-bottom: 10rem;
}
.service-tittle h2 {
  text-align: center;
  padding: 7.5rem 0 11.2rem 0;
  position: relative;
}

.service-tittle h2::after {
  position: absolute;
  content: "";
  top: 45%;
  left: 47%;
  width: 227px;
  height: 20px;
  background: #f0b000;
  z-index: -1;
}
.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  position: relative;
}
.shape-one img {
  position: absolute;
  height: 10rem;
  top: -4rem;
  right: -3rem;
  z-index: -1;
  width: 26rem;
}
.single-service {
  box-shadow: 0 0 8px #e6e3e3;
  height: 360px;
  background-color: #fff;
  border-radius: 10px;
}
.service-icon {
  height: 8rem;
  max-width: 8rem;
  margin: auto;
  padding-top: 5rem;
}
.service-content h4 {
  font-size: 2.4rem;
  font-weight: 600;
  max-width: 12.5rem;
  width: 100%;
  margin: 0 auto;
  padding-top: 3rem;
}
.service-content p {
  max-width: 22rem;
  width: 100%;
  margin: 0 auto;
  color: #999999;
  text-align: center;
  padding: 3rem 0 3.5rem 0;
  box-sizing: border-box;
}
/* Service aria end */
/* deferafce-aria start */
.deferafce-aria,
.difference_buttom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3rem;
}
.deferafce-aria-img {
  height: 525px;
  border-radius: 10px;
  position: relative;
}
.responsiv-img-fif {
  display: none;
}
.deferafce-aria-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.deferafce-img-shape img:first-child {
  position: absolute;
  width: 250px;
  height: 153px;
  bottom: 0rem;
  right: 1rem;
  z-index: -1;
}
.deferafce-img-shape img:last-child {
  position: absolute;
  width: 250px;
  height: 69px;
  top: -22px;
  left: 50px;
  z-index: -1;
}
.res-dif-title,
.res-dif-next {
  display: none;
}
.deferance-tittle h2 {
  text-transform: uppercase;
  position: relative;
}
.deferance-tittle h2::after {
  position: absolute;
  content: "";
  top: 77%;
  left: 9%;
  width: 241px;
  height: 1.5rem;
  background: #f0b000;
  z-index: -1;
}
.deferafce-aria-content h3,
.deferafce-next-content h3 {
  font-weight: 600;
  font-size: 2.4rem;
  padding: 1rem 0;
  max-width: 545px;
  width: 100%;
  line-height: 40px;
}
.deferafce-aria-content p,
.deferafce-next-content p {
  max-width: 500px;
  width: 100%;
  padding: 35px 0 35px 0;
  line-height: 40px;
  color: #999999;
}

/* nextdfgkojg vor  */
.difference_buttom {
  padding: 5rem 0;
}
.diff-res {
  display: none;
}
.deferafce-next-content .btn-3 {
  display: inline-block;
  padding: 20px 50px;
  background: #0d4885;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border-radius: 10px;
  transition: 0.5s;
  margin-top: 3rem;
}
.deferafce-next-content .btn-3:hover {
  background: #f0b000;
  color: #fff;
}
.deferafce-aria-img-tow {
  height: 525px;
  border-radius: 10px;
  position: relative;
}
.deferafce-aria-img-tow img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.deferafce-aria-img-tow-shape img:first-child {
  position: absolute;
  left: -1rem;
  bottom: 1rem;
  height: 13rem;
  z-index: -1;
  width: 290px;
}
.deferafce-aria-img-tow-shape img:last-child {
  position: absolute;
  right: 6rem;
  top: 0;
  height: 10rem;
  z-index: -8;
  width: 28rem;
}
.deferance-tittle-next h2 {
  text-transform: uppercase;
  position: relative;
}
.deferance-tittle-next h2::after {
  position: absolute;
  content: "";
  top: 77%;
  left: 0;
  width: 241px;
  height: 1.5rem;
  background: #f0b000;
  z-index: -1;
}
/* deferafce-aria end */
/* Plan aria start  */
.plan-section {
  background: url(../images/plan/heavy.png) no-repeat 0 0 / cover;
}
.plan-aria {
  display: flex;
  justify-content: space-between;
}
.plan-left-site {
  flex-basis: 50%;
}
.plan-left-site img {
  max-width: 450px;
  height: 550px;
  object-fit: cover;
  border-radius: 10px;
}
.plan-right-site {
  flex-basis: 50%;
}
.plan-content h2 {
  padding-top: 80px;
  font-weight: 700;
  color: #fff;
  max-width: 435px;
  width: 100%;
}
.plan-content h3 {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
  max-width: 495px;
  width: 100%;
  padding: 30px 0 45px 0;
  line-height: 40px;
}
.plan-contacts {
  display: flex;
  align-items: center;
}
.plan-contacts-left {
  padding-right: 45px;
}
.plan-contacts-left ul li,
.plan-contacts-right ul li {
  display: flex;
  align-items: center;
  color: #fff;
  margin-bottom: 20px;
}
.plan-contacts-left ul li i,
.plan-contacts-right ul li i {
  font-size: 20px;
  color: #f0b000;
  margin-right: 1rem;
}
.index-btn .index-btn-res {
  display: none;
}
.index-btn {
  margin-top: 30px;
}
.index-btn a {
  padding: 15px 20px;
  display: inline-block;
  background: #f0b000;
  border-radius: 10px;
  color: #004885;
  font-size: 18px;
  font-weight: 700;
  border: 0.1px solid transparent;
  transition: 0.5s;
  text-align: center;
}
.index-btn a:hover {
  background: #0d4885;
  color: #fff;
  border: 0.1px solid #fff;
}
/* Plan aria end */
/* partnarship-aria start */
.partnarship-section {
  background: #f2f5f9;
  margin-top: 10rem;
}
.partnarship-top {
  position: relative;
}
.back-shape img {
  position: absolute;
  top: -68px;
  right: 0;
  height: 15rem;
  width: 25rem;
}
.partnarship-top h3 {
  font-family: "Gill Sans";
  font-size: 43px;
  font-weight: 400;
  max-width: 813px;
  width: 100%;
  display: inline-block;
  padding: 100px 0 110px 0;
}
.partners-item {
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.btn_footer {
  flex-basis: 20%;
  margin-left: 2rem;
}
.partnarship-buttom {
  flex-basis: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;
}
.single-item-partnar {
  height: 60px;
  width: auto;
}
.single-item-partnar img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.btn_footer a {
  display: inline-block;
  padding: 16px 27px;
  font-size: 16px;
  font-weight: 700;
  background: #0d4885;
  color: #fff;
  text-transform: capitalize;
  transition: 0.5s;
  border-radius: 10px;
}
.btn_footer a:hover {
  background: #f0b000;
  color: #fff;
}
/* partnarship-aria end */
/* Footer aria start */
.footer-section {
  background: url(../images/footer/footer-bg.png) no-repeat scroll 0 0 / cover;
  height: 100%;
  width: 100%;
}
.footer-aria {
  display: flex;
  border-bottom: 1px solid #dddd;
  padding-bottom: 5rem;
}
.footer-l {
  display: flex;
  justify-content: space-between;
}

.footer-content {
  padding-right: 2rem;
}
.footer-content h4 a {
  text-transform: uppercase;
  margin-top: 45px;
  display: inline-block;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  transition: 0.5s;
}
.footer_logo img {
  width: 167px;
  height: 100%;
}
.footer-middle h4,
.footer-right h4 {
  text-transform: uppercase;
  color: #fff;
}
.menu-items-two ul {
  display: flex;
  padding-top: 45px;
}
.menu-items ul {
  display: flex;
  flex-wrap: wrap;
  padding-top: 45px;
}
.menu-items ul li,
.menu-items-two ul li {
  padding-right: 30px;
  margin-bottom: 2rem;
}
.menu-items ul li a,
.menu-items-two ul li a {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  transition: 0.5s;
}
.menu-items ul li a:hover,
.footer-content h4 a:hover,
.menu-items-two ul li a:hover {
  color: #f0b000;
}
.copyright p {
  padding: 8rem 0 0 0;
  color: #fff;
  font-size: 16px;
}
/* Footer aria end */
/* ===========index page aria end ===========*/
/* ===========What We Do page aria start=========== */
.page-two {
  background: url(../images/what-we-do/baner/baner-bg-two.png) no-repeat 0 0 /
    cover;
}
.baner-text-next {
  padding-bottom: 5rem;
}
/* deferafce-aria start  */
.difference-section-two {
  padding: 8rem 0;
}
.differance-two {
  height: auto;
  max-width: 460px;
  margin: auto;
}
.differance-two img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.shape-four-two img {
  position: absolute;
  height: 10rem;
  bottom: -4rem;
  right: 3rem;
  z-index: -1;
}
.deferafce-img-shape-two {
  position: absolute;
  left: -2rem;
  bottom: -5rem;
  z-index: -1;
}
/* why-choose aria start */
.why-choose-aria {
  display: flex;
}
.why-choose-left {
  flex-basis: 45%;
}
.dferance-tittle-two h2::after {
  top: 26%;
  left: 19%;
  width: 268px;
}
.why-choose-left h3 {
  padding: 90px 0 40px 0;
  max-width: 360px;
  width: 100%;
  line-height: 40px;
}
.why-choose-left p {
  max-width: 425px;
  width: 100%;
  color: #999999;
}
.why-choose-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3rem;
  flex-basis: 55%;
}
.choose_main_image {
  width: 8rem;
  height: auto;
}
.choose_main_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.choose_img_cont h3 {
  font-size: 24px;
  font-weight: 400;
  max-width: 195px;
  padding-top: 20px;
  line-height: 35px;
}
.choose_img_cont p {
  max-width: 250px;
  width: 100%;
  color: #999999;
  padding: 30px 0 30px 0;
}
/* Materials aria start */
.materials-aria {
  display: flex;
  justify-content: space-between;
}
.mat-img {
  position: relative;
  height: auto;
  max-width: 460px;
  margin: auto;
}
.mat-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.mat-shape {
  position: absolute;
  left: -6rem;
  bottom: 10%;
  z-index: -1;
}
.mat-shape-threee {
  position: absolute;
  height: 10rem;
  bottom: 4rem;
  left: -4rem;
  z-index: -1;
}
.mat-shape-five {
  position: absolute;
  height: 10rem;
  top: -3rem;
  right: -1rem;
  z-index: -1;
}
.materials-right-two {
  max-width: 44.7rem;
}
.mat-span span {
  color: #000;
}
.mat-top-ul {
  padding: 35px 0;
}
.mat-top-ul ul li {
  display: flex;
  flex-wrap: wrap;
}
.mat-top-ul li a {
  margin-right: 2rem;
}
.mat-top-ul li a i {
  font-size: 20px;
  color: #f0b000;
  margin-right: 1rem;
}
.mat-top-ul li a:last-child span {
  text-decoration: underline;
}
.mat-top-ul .fa-circle-xmark {
  color: #fc5355;
}
.mat-top-ul li a span {
  color: #000;
}
.materials-right p {
  padding: 20px 0 0px 0;
}
.materials-right p a {
  font-family: "Gill Sans";
  font-size: 20px;
  font-weight: 400;
  color: #999999;
  text-decoration: underline;
}
/* Materials aria end */
/* Recent project aria start */
.recent-project-section {
  padding-top: 2rem;
}
.gleary-head.deferance-tittle-next {
  padding-bottom: 18rem;
}
.gleary-head h2 {
  max-width: 432px;
  width: 100%;
  float: right;
}
.main-gleary {
  position: relative;
  padding: 5rem 0 0 0;
}
.gleary-shape img:first-child {
  position: absolute;
  bottom: 7rem;
  left: 5rem;
  z-index: -1;
  height: 13rem;
}
.gleary-shape img:last-child {
  position: absolute;
  top: 19rem;
  left: 31rem;
  z-index: -1;
  height: 13rem;
}
.arrow-icon {
  position: absolute;
  top: 5rem;
  right: 0;
}
.arrow-icon a {
  float: right;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #004885;
  line-height: 40px;
  text-align: center;
  color: #004885;
  display: block;
  margin-left: 1rem;
}
.gleary {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  overflow: hidden;
  padding-bottom: 5rem;
  width: 100%;
}
.gleary-single-item:nth-child(1),
.gleary-single-item:nth-child(2),
.gleary-single-item:nth-child(3) {
  align-self: flex-end;
}
.gleary-single-item:nth-child(1) img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
}
.gleary-single-item:nth-child(2) img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}
.gleary-single-item:nth-child(3) img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 15px;
}
.gleary-single-item:nth-child(4) img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 15px;
}
.gleary-single-item:nth-child(5) img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 15px;
}
.gleary-single-item:nth-child(6) img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  border-radius: 15px;
}
.gleary-single-item.g-one {
  grid-column: auto / span 4;
}
.gleary-single-item.g-tow {
  grid-column: auto / span 5;
}
.gleary-single-item.g-three {
  grid-column: auto / span 3;
}
.gleary-single-item.g-four {
  grid-column: auto / span 4;
}
.gleary-single-item.g-five {
  grid-column: auto / span 3;
}
.gleary-single-item.g-six {
  grid-column: auto / span 5;
}
/* Recent project aria end */
/* ===========What We Do page aria end=========== */
/* ===========Your Team Aria Start=========== */

.meet-aria {
  display: flex;
  justify-content: space-between;
}
.meet-toe h2 {
  max-width: 455px;
  width: 100%;
}
.meet_top_right p {
  font-size: 20px;
  font-weight: 400;
  color: #999999;
  max-width: 490px;
  width: 100%;
}
.deferafce-aria-content.meet-page {
  position: relative;
}
.meet-page-arrow {
  position: absolute;
  left: 0;
  bottom: 0;
}
.meet-page-arrow a {
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #004885;
  line-height: 40px;
  text-align: center;
  color: #004885;
  display: inline-block;
  margin-left: 1rem;
}
/* ===========Your Team Aria End=========== */
/* ===========Contact Aria Start=========== */
.contact-aria {
  padding: 50px 50px 70px 50px;
  transform: translateY(-80px);
  max-width: 910px;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-sizing: border-box;
}
.contact-p p {
  padding-bottom: 8rem;
}
.field {
  display: flex;
}
.filed-two {
  display: flex;
  margin: 4rem 0;
}
.filed-one {
  width: 100%;
}
.filed-tittle {
  display: block;
  margin-bottom: 2rem;
  cursor: pointer;
}
.f-name {
  width: 80%;
  padding: 15px;
  border: 1px solid #ddd;
  background: none;
  border-radius: 5px;
  font-size: 2rem;
}
.f-select {
  width: 87%;
  color: #999999;
  cursor: pointer;
}
.f-tittle {
  padding-bottom: 20px;
  display: inline-block;
}
.f-select option {
  color: #fff;
  background: #000;
}
.message-aria {
  display: block;
  width: 90%;
  resize: none;
  height: 85px;
  border: 1px solid #dddd;
  background: none;
  border-radius: 5px;
  padding: 15px;
  font-size: 2rem;
}
.check-box {
  padding: 2rem 0;
}
.check-text {
  font-family: "Gill Sans";
  font-size: 1.6rem;
  font-weight: normal;
  color: #000;
  cursor: pointer;
}
.contact-btn {
  padding: 12px 60px;
  border: 0.1px solid transparent;
  background: #f0b000;
  border-radius: 1rem;
  color: #004885;
  font-weight: 500;
  cursor: pointer;
  transition: 0.5s;
  display: inline-block;
  margin-top: 40px;
  font-size: 2rem;
}
.contact-btn:hover {
  background: #004885;
  color: #ffff;
  border: 0.1px solid #fff;
}

/* ===========Contact Aria End=========== */
/* =========== Start Privacy Area =========== */
.privacy-area {
  display: flex;
  justify-content: space-between;
}
.privacy-content {
  flex-basis: 50%;
  padding-left: 3rem;
  box-sizing: border-box;
}
.privacy-img {
  flex-basis: 50%;
}
.privicy-heading h2 {
  font-size: 44px;
  padding: 30px 0 15px 0;
  line-height: 5rem;
}
.privicy-heading p {
  font-size: 1.8rem;
  padding-bottom: 10px;
}
.privicy-list ul {
  padding-bottom: 50px;
}
.privicy-list ul li {
  padding-bottom: 10px;
}
/* =========== Start Privacy End =========== */
